<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @ticket.customer.name %>,<br>Thank you for purchasing a Lottery Ticket! Here is your receipt.</p>
    <p>
    Purchase details<br>
    --------------------------
    </p>
    <%= image_tag url_for(@ticket.image.display_image) %><br>
    <p>Transaction Status: <%= @ticket.purchase.status.capitalize %></p>
    <p>Receipt No: <%= @ticket.purchase.receipt_no %></p>
    <p>Ticket No: <%= @ticket.ticket_no %></p>
    <p>Prize Type: <%= @ticket.type.split("Ticket")[0] %></p>
    <p>Expiration Date: <%= @ticket.expiration_date %></p>
  </body>
</html>
