<div class="profile_info">
  <h2>Customer</h2>
  <hr>
    <div id="customer_data">
      <div id="customer_image_data">
        <%= image_tag @customer.image.display_image if @customer.image.image_file.attached? %>
      </div>
      <div id="customer_info">
        <p class="details">
          <b>Name:</b> <%= @customer.name %><br>
          <b>Email:</b> <%= @customer.email %><br>
          <b>Status:</b> <%= verification_status(@customer.verified) %><br>
          <b>Last Won on:</b> <%= last_won(@customer.last_won_on) %><br> 
        </p>
      </div>
    </div>
</div>
<br>
<div class="profile_info">
  <h2>Tickets</h2>
  <hr>
  <% if @tickets.count != 0 %>
    <div class="panels row">
      <% @tickets.each do |ticket| %>
          <div class="panel col-md-3">
            <div class="panel-img-top center">
              <%= image_tag ticket.image.display_image if ticket.image.image_file.attached? %>
            </div>
            <div class="panel-body details">
              <b>Ticket No:</b> <%= ticket.ticket_no %><br>
              <b>Prize Type:</b> <%= ticket.type.split("Ticket")[0] %><br>
              <b>Expiration Date:</b> <%= ticket.expiration_date %><br>
              <b>Position Won:</b> <%= position(ticket.position_won) %><br> 
              <b>Status:</b> <%= validity_status(ticket.is_valid)%>
            </div>
          </div>
      <% end %>
    </div>
    <div class="center">
      <%= will_paginate @tickets %>
    </div>
  <% else %>
    <h3>No Tickets Found</h3>
  <% end %>
</div>
